/*

.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: #7fff90;
}

.is-done {
  opacity: 0.5;
}

!*
.delete-button {
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
  font-size: 10px;
}*!
*/
